body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:97vw;
    height:98vh;
}

#button_box{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: rgb(134, 172, 141);
    overflow: hidden;
    border-radius: 200px;
    position: relative;
}
#rotating_line{
    width: 500px;
    height: 60px;
    background: linear-gradient(45deg,rgb(255, 0, 144),rgba(10, 4, 0, 0.742));
    rotate: -30deg;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

button{
    position: absolute;
    height: 75px;
    width: 190px;
    margin-top: 80px;
    border: none;
    font-size: 30px;
    border-radius: 300px;
    background-color: aqua;
}